<?xml version="1.0"?>
<launch>


 <param name="robot_description" 
  command="$(find xacro)/xacro '$(find mybot_description)/urdf/mybot.xacro'" />
  <!-- <arg name="rviz_config_file" default="$(find mybot_nav)/config/navigation.rviz"/> -->
  

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz   -->
    <!-- <node pkg="rviz" type="rviz" name="rviz"  args="-d $(arg rviz_config_file)" /> -->
        <node pkg="rviz" type="rviz" name="rviz"/>

</launch>

